body.body-with-sidebar{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    margin: 0 auto;
}
/* base class to encapsulate evaluation kb styles */
[class*=body-with-sidebar] {
  h1 {
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    font-size: 36px;
    line-height: 42px;
    margin-top: 21px;
    margin-bottom: 0px;
    letter-spacing: -2;
  }
  h2 {
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    font-size: 30px;
    line-height: 42px;
    margin-top: 42px;
    margin-bottom: 21px;
  }
  h3 {
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    font-size: 22px;
    line-height: 42px;
    margin-top: 21px;
    margin-bottom: 0px;
  }
  h4 {
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    font-size: 16px;
    line-height: 21px;
    margin-top: 21px;
    margin-bottom: 0px;
  }
  h5 {
    font-family: inherit;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 21px;
    margin-top: 21px;
    margin-bottom: 0px;
  }
  p, ul, ol, pre, table, blockquote {
  font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 21px;
    line-height: 21px;
      font-weight: normal;
      font-family: Arial,sans-serif;
  }
  ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  hr {
    border: 1px solid;
    margin: -1px 0;
  }
  b, strong, em, small, code {
    line-height: 1;
  }
  sup {
    line-height: 0; 
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  a {
    color: #268ED9;
  }
}