/* START - Extra CSS */
@font-face {
    font-family: osicons-v2;
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/PortalTheme/osicons-v2.woff") format("woff");
}

@font-face {  /* REGULAR */
    font-family: 'Cabin';
    src: url('https://www.outsystems.com/PortalTheme/cabin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face { /* BOLD */
    font-family: 'Cabin';
    src: url('https://www.outsystems.com/PortalTheme/cabin-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face { /* REGULAR */
    font-family: 'NotoSans';
    src: url('https://www.outsystems.com/PortalTheme/notosans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {  /* BOLD */
    font-family: 'NotoSans';
    src: url('https://www.outsystems.com/PortalTheme/notosans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

[class*="osicons-v2"] {
    display: inline-block;
    font-family: osicons-v2 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    speak: none;
    text-transform: none;
    vertical-align: middle;
}

.osicons-v2-fb-brand:before,
.osicons-v2-fb:before {content: "\e900";}
.osicons-v2-in-brand:before,
.osicons-v2-in:before {content: "\e901";}
.osicons-v2-tw-brand:before,
.osicons-v2-tw:before {content: "\e902";}
.osicons-v2-share:before {content: "\e903";}
.osicons-v2-email:before {content: "\e904";}
.osicons-v2-tag:before {content: "\e905";}
.osicons-v2-cancel:before {content: "\e906";}
.osicons-v2-chevron-down:before {content: "\e907";}
.osicons-v2-search:before {content: "\e908";}
.osicons-v2-valid:before {content: "\e90a";}
.osicons-v2-hamburguer:before {content: "\e90b";}
.osicons-v2-chevron-up:before {content: "\e90d";}
.osicons-v2-chevron-left:before {content: "\e90e";}
.osicons-v2-chevron-right:before {content: "\e90f";}
.osicons-v2-loader:before {content: "\e911";}
.osicons-v2-arrow-right:before {content: "\e915";}
.osicons-v2-add:before {content: "\e916";}
.osicons-v2-dash:before {content: "\e917";}
.osicons-v2-play:before {content: "\e918";}
.osicons-v2-spicy:before {content: "\e919";}
.osicons-v2-lang:before {content: "\e91a";}
.osicons-v2-link-out:before {content: "\e920";}
.osicons-v2-filter:before {content: "\e910";}
.osicons-v2-link-in-card:before {content: "\e921";}
.osicons-v2-double-arrow-up:before {content: "\e922";}
.osicons-v2-double-arrow-down:before {content: "\e923";}
.osicons-v2-double-arrow-left:before {content: "\e924";}
.osicons-v2-double-arrow-right:before {content: "\e925";}
.osicons-v2-sitemap:before {content: "\e926";}
.osicons-v2-rss:before {content: "\e909";}

header a,
header a:link,
header a:visited {
    font-family: 'NotoSans';
}
/* END - Extra CSS */


[class*="os-btn"].font-size-s,
[class*="os-btn"].font-size-s:visited,
.font-size-s {font-size: 0.875rem;}

.margin-left-s {margin-left: 0.5rem;} /*8px*/
.margin-left-base {margin-left: 1rem;} /*16px*/


/**** START OS ICON FONT ****/
@font-face {
  font-family: 'osicons';
  src:  url('/PortalTheme/osicons.woff');
  font-weight: normal;
  font-style: normal;
}
/***** OSIcon *****/
a[class*="osicons-"],
label[class*="osicons-"],
span[class*="osicons-"],
div[class*="osicons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.osicons-fb:before {
  content: "\e900";
}
.osicons-in:before {
  content: "\e901";
}
.osicons-tw:before {
  content: "\e902";
}
.osicons-share:before {
  content: "\e903";
  color: #000;
}
.osicons-email:before {
  content: "\e904";
  color: #000;
}
.osicons-comments:before {
  content: "\e905";
  color: #000;
}
.osicons-tag:before {
  content: "\e906";
  color: #000;
}
.osicons-cancel:before {
  content: "\e907";
}
.osicons-chevron-down:before {
  content: "\e908";
}
.osicons-search:before {
  content: "\e909";
}
.osicons-Valid:before {
  content: "\e90a";
}
.osicons-hamburger:before {
  content: "\e90b";
}
.osicons-loader:before {
  content: "\e90c";
}
.osicons-download:before {
  content: "\e90d";
}

.icon-share-opaque:before {
  content: "\e90e";
}
/**** END OS ICON FONT ****/


/* for external sites - maintain grid - START */
.main-menu__container .NavigationLink a.btn-link {
  display: inline;
}

.main-menu__container .NavigationLink a.btn-link:hover {
  text-decoration: none;
}

header.main-menu__container,
header.main-menu__container *,
header *::after,
header *::before {
  box-sizing: border-box;
}

.main-menu__container .osicons-v2-link-out::before { content: "\e920"; }
.main-menu__container .osicons-v2-search::before { content: "\e908"; }
.main-menu__container .osicons-v2-cancel::before { content: "\e906"; }

.main-menu__container a,
.main-menu__container a:link {
  text-decoration: none;
}

.main-menu__container ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-menu__container .semi-bold {
  font-weight: 700;
}

.main-menu__container__container-os,
.main-menu__container__container-os * {
  box-sizing: border-box;
}

.main-menu__container__container-os {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 992px) {
  .main-menu__container__container-os {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .main-menu__container__container-os {
    max-width: 1140px;
  }
}


/* START - HEADER DARK */

header.header-black a,
header.header-black a:visited {
    color: #D8D8D8;
}

header.header-black a.text-yellow,
header.header-black a.text-yellow:visited {
    color: #fdb515;
}

header.header-black a.text-yellow:hover {
    color: #fed06b;
}

header.header-black a.corporate-link,
header.header-black a.corporate-link:visited {
    color: #D8D8D8;
    margin-right: 20px;
    white-space: nowrap;
}

header.header-black a.corporate-link:hover {
    color: #fff;
}

header.header-black a.corporate-link .font-size-s {font-size: 0.875rem;}

header.header-black a.corporate-link span:first-child {
    margin-right: 5px;
}

header.header-black .os-btn-light,
header.header-black .os-btn-light:visited {
    color: #0a141e;
}

header.header-black .os-btn-light:hover {
    color: #db2400;
}

header.header-black [class*="os-btn"].btn-small,
header.header-black [class*="os-btn"].btn-small:visited {
    font-size: 0.875rem;
    height: 2rem;
    padding: 0 8px;
}

header.header-black .main-menu__container__background {
    background-color: #0A141E;
}

header.header-black a.main-menu__item:link {
    color: #D8D8D8;
}

header.header-black a.main-menu__item:link[aria-expanded="true"],
header.header-black a.main-menu__item:link[aria-expanded="true"]:hover {
    color: #F85E40;
}

header.header-black a.main-menu__item:link:hover,
header.header-black a:visited:hover {
    color: #fff;
}

header.header-black .main-menu__container__section {
    color: #80858C;
}

header.header-black .main-menu__container__background {
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.05);
}

header.header-black .main-menu__submenu-content {
    background-color: #0A141E;
}

header.header-black .main-menu__submenu-content__panel {
    transition: all 200ms ease;
}

header.header-black .main-menu__submenu-content__panel li a {
    width: 100%;
}

header.header-black .main-menu__submenu-content__panel li a,
header.header-black .main-menu__container__center .main-menu__submenu-content li a:hover {
    color: #fff;
}

header.header-black .main-menu__submenu-content__panel + .main-menu__submenu-content__panel {
    border-left: 1px solid rgba(255,255,255,0.05);
}

header.header-black .main-menu__submenu-content__panel:hover {
    background-color: rgba(255,255,255,0.03);
    border-bottom: 2px solid #fff;
}

header.header-black .main-menu__container__search_input_container input, .main-menu__container__search_input_container input[type=search] {
    background-color: #222B34;
    color: #fff;
}

header.header-black .main-menu__container__search_open[aria-expanded="true"] ~ .main-menu__container__search_input_container {
    height: 100%;
}

header.header-black .main-menu__container__search i {
    color: #fff;
}

/* END - HEADER DARK */



/* for external sites - maintain grid - END */

.main-menu__container,
.main-menu__container h4,
.main-menu__container a,
.main-menu__container button {
    font-family: 'NotoSans', Arial, Helvetica, sans-serif;
}

.main-menu__container {
  box-shadow: inset 0 -1px 0 #ebebeb;
  box-sizing: border-box;
  font-family: 'NotoSans', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.558;
  margin: 0;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: transform 200ms ease-out;
  width: 100%;
  z-index: 100; /* override hero-section container */
}

header.main-menu__container {
  display: flex;
  height: 62px;
  z-index: 200; /* override footer z-index */
}

.main-menu__container--transparent {
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main-menu__container__background {
  background-color: #fff; /* this div exists to override the overlay and place the white with 100% width */
  box-shadow: inset 0 -1px 0 #ebebeb;
  display: flex;
  position: relative;
  width: 100%; /* for only-log version */
  z-index: 2;
}

.main-menu__container__background--transparent {
  background-color: transparent;
  position: relative;
  width: 100%; /* for only-log version */
  z-index: 2;
}

.main-menu__overlay {
  background: rgba(81, 88, 96, .5);
  content: "";
  cursor: pointer;
  height: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: visibility 200ms ease, opacity 200ms ease;
  visibility: hidden;
  width: 100vw;
  z-index: 1;
}

.main-menu__container.open__main-menu .main-menu__overlay {
  height: calc(100vh + 100px);
  opacity: 1;
  visibility: visible;
}

.main-menu__container__white-logo {
  width: 100%;
}

.main-menu__container a.os-button,
.main-menu__container a.os-button:link,
.main-menu__container .os-button,
.main-menu__container .os-button:visited {
  align-items: center;
  background-color: transparent;
  border: 2px solid #db2400;
  border-radius: 0.333rem;
  color: #0a141e;
  display: inline-flex;
  font-family: 'Cabin';
  padding: 0.5em 1em;
  transition: background-color 200ms, color 200ms, border 200ms;
  transition-timing-function: ease;
}

.main-menu__container a.os-button.primary {
  background-color: #F22800;
  border: 2px solid #F22800;
  color: #fff;
  font-size: 1em;
  line-height: 1.6;
}

.main-menu__container a.os-button.primary:hover,
.os-button.primary:hover,
.os-button.primary:link:hover {
  background-color: #bb1f00;
  border: 2px solid #bb1f00;
}

/* Login - START */
.main-menu__container div.header-info {
    align-items: center;
    color: #BABABA;
    display: flex;
    margin-left: 10px;
}

header .header-login .header-headshot {
    border: 2px solid transparent;
    border-radius: 100%;
    height: 34px;
    margin: 7px 0;
    transition: all 300ms ease;
    width: 34px;
}

header .header-login .header-headshot.mvp-border {
    border-color: #EF8600;
}

header .header-login-phone .header-logged-out {
    padding: 7px 0;
}

header .header-login .DropdownActive .header-headshot {
    border: 2px solid #fff;
}

header .header-login .header-login-dropdown,
header .header-login .header-login-dropdown-desktop {
    cursor: pointer;
    display: flex;
    position: relative;
}

header .header-login-phone {
    display: none;
}

header .header-login .header-login-dropdown .fa-angle-down,
header .header-login .header-login-dropdown-desktop .fa-angle-down {
    color: #BABABA;
    margin-left: 5px;
    margin-top: 17px;
    width: 10px;
}


header .header-login .unread-messages-wrapper {
    background-color: #db2400;
    border-radius: 100%;
    color: #fff;
    font-size: 12px;
    height: 18px;
    line-height: 17px;
    padding: 0;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 2px;
    width: 18px
}

header .header-login .header-login-dropdown-menu {
    background: #0A141E;
    border: 1px solid #222B34;
    color: #fff;
    text-align: left;
    margin-left: -150px;
    position: absolute;
    top: 55px;
    z-index: 11;
    border-top: none;
    width: 210px;
}

header .header-login .header-login-dropdown .header-login-dropdown-menu {
    right: -55px;
}

header .header-info .Header-UserInfo {
    cursor: default;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 15px;
    position: relative;
}

header .header-login-dropdown-menu .menu-row + .menu-row {
    border-top: 1px solid #222B34;
}

header .header-login .menu-row {
    align-items: center;
    color: #C6C9CE;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    min-height: 50px;
    padding-left: 50px;
    position: relative;
    transition: all 200ms ease;
}

header .header-login .menu-row:hover {
    color: #fff;
    text-decoration: underline;
}

header .header-login .menu-row-title {
    color: #80858C;
    font-weight: 600;
    padding: 9px;
    padding-left: 50px;
    position: relative;
}

header .header-login .menu-row-header {
    color: #fff;
    cursor: default;
    display: block;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 4px;
}

header .header-login .menu-row-header:hover {
    color: #fff;
    text-decoration: none;
}

header .header-login .menu-row-header .menu-row {
    font-weight: 400;
    min-height: auto;
    padding: 0;
}

header .header-login .menu-row img,
header .header-login .menu-row-title img {
    left: 15px;
    margin-right: 15px;
    position: absolute;
    top: calc(50% - 13px);
}

header .header-info .header-icon {
    display: inline-block;
    text-indent: -5000em;
    overflow: hidden;
    width: 20px;
    height: 16px;
    margin-left: 11px;
}

/* Login - END */



header .main-menu__container__section {
    align-items: center;
    color: #80858C;
    display: flex;
    font-family: 'Cabin';
    font-size: 1.125rem;
    margin-left: 5px;
    position: relative;
}

header .main-menu__container__section:empty {
    display: none;
}

header .main-menu__container__section:before {
    background-color: #80858C;
    border-radius: 100%;
    content: "";
    height: 5px;
    margin-right: 12px;
    width: 5px;
    
    -servicestudio-display: none;
}

@media (min-width: 992px) {
  a.main-menu__item:visited {
    color: #39414a;
  }

  .main-menu__container .main-menu__container__container-os {
    display: flex;
    position: relative;
    z-index: 2;
  }

  .main-menu__container.main-menu__container__only-logo .main-menu__container__container-os {
    display: block;
  }

  .main-menu__container__logo {
    align-items: center;
    display: flex;
    flex-grow: 1;
    max-width: 140px;
  }

  .main-menu__container__logo img {
    font-size: 0.667em; /* in case the image doesn't load */
    height: 100%; /* for ie11 svg fix */
    width: 130px;
  }

  .main-menu__container__nav-content {
    display: flex;
    flex-grow: 2;
    font-size: 0.889em;
    justify-content: space-between;
    line-height: 1.429;
  }
  
  .main-menu__container__nav-content > nav {
    display: flex;
    margin-left: 30px;
  }

  .main-menu__container__center ul.main_menu__list {
    display: flex;
    flex-flow: row wrap;
  }
  
  .main-menu__container__center li {
    align-items: center;
    display: flex;
  }

  .main-menu__container__center li a {
    display: block;
    padding: 20px 15px;
    position: relative; /* prevent behaviour in mobile */
  }

  .main-menu__item {
    cursor: pointer;
    position: relative;
  }

  a.main-menu__item:link,
  a.main-menu__item:link:hover {
    color: #39414a;
    font-size: 1em;
  }

  .main-menu__submenu-content__panel {
    align-items: stretch;
    border-bottom: 2px solid transparent;
    /* display: inline-block; */
    display: flex;
    flex: 1;
    font-size: 1em;
    line-height: 1.429;
    margin-top: 0;
    padding: 0;
    vertical-align: top;
    white-space: normal;
  }

  .main-menu__item[aria-haspopup="true"]:after {
    background-color: #979ca2;
    border: none;
    border-radius: 50%;
    bottom: 9px;
    content: '';
    height: 6px;
    left: calc(50% - 4px);
    opacity: 0.65;
    opacity: 0;
    position: absolute;
    transform: none;
    transition: 200ms all ease;
    width: 6px;
  }
  
  header.header-black a.main-menu__item.active:link[aria-expanded="true"]:after {
    background-color: #F85E40;
  }

  .main-menu__submenu-content {
    display: none;
    left: 50%;
    opacity: 0;
    padding: 10px 30px 35px 30px;
    position: absolute;
    transform: translateX(-50%);
    transition: visibility 200ms ease, opacity 200ms ease, height 200ms ease;
    visibility: hidden;
  }

  .main-menu__item[aria-expanded="true"] ~ .main-menu__submenu-content {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .main-menu__submenu-content__panel + .main-menu__submenu-content__panel {
    margin-left: 30px;
  }

  .main-menu__submenu-content__title:first-child {
    margin-top: 0;
  }

  .main-menu__submenu-content__title {
    align-items: center;
    border-bottom: 0;
    color: #686E76;
    display: flex;
    font-size: 1em;
    margin-bottom: 0;
    min-width: 215px;
    padding-bottom: 13px;
    text-transform: uppercase;
  }

  .main-menu__submenu-content li {
    overflow: hidden; /* fix for edge bullet */
    padding: 0;
    white-space: unset;
    width: 100%;
  }

  /* SEARCH START */

  .main-menu__container__search {
    display: flex;
    font-size: 1.111em;
    position: relative;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .main-menu__container__search button {
    width: 40px;
  }

  .main-menu__container__search i {
    color: #707070;
    padding-bottom: 3px;
  }

  .main-menu__container__search button:hover {
    cursor: pointer;
  }

  .main-menu__container__search_open {
    background-color: transparent;
    border: none;
    font-size: 1em;
    line-height: 1.556;
    padding: 0;
    transition: all 0.2s ease;
    visibility: visible;
  }

  .main-menu__container__search_open[aria-expanded="true"] {
    visibility: hidden;
  }

  .main-menu__container__search_input_container {
    display: flex;
    font-size: 1.1111em;
    height: 60px; /* most have height because of mobile behaviour */
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease;
    visibility: hidden;
    width: 0;
  }

  .main-menu__container__search_open[aria-expanded="true"] ~ .main-menu__container__search_input_container {
    opacity: 1;
    transition: all 0.5s ease;
    visibility: visible;
  }

  .main-menu__container__search_input_container button {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 5px;
  }

  .main-menu__container__search_input_container input,
  .main-menu__container__search_input_container input[type=search] {
    background-color: #f4f4f4;
    border: none;
    box-sizing: border-box;
    font-size: 1.176em;
    height: 100%;
    line-height: 1.375;
    outline: none;
    padding: 0 45px 0 25px;
    position: relative;
    width: 100%;
    -webkit-appearance: none;
  }

  /* clears the 'X' from Internet Explorer */
  .main-menu__container__search_input_container input[type=search]::-ms-clear {
    display: none;
    height: 0;
    width: 0;
  }

  .main-menu__container__search_input_container input[type=search]::-ms-reveal {
    display: none;
    height: 0;
    width: 0;
  }

  /* clears the 'X' from Chrome */
  .main-menu__container__search_input_container input[type="search"]::-webkit-search-decoration,
  .main-menu__container__search_input_container input[type="search"]::-webkit-search-cancel-button,
  .main-menu__container__search_input_container input[type="search"]::-webkit-search-results-button,
  .main-menu__container__search_input_container input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  .main-menu__container__search_input_container input::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .main-menu__container__search_cancel,
  .main-menu__container__search_confirm {
    font-size: 1em;
    line-height: 1.556;
  }

  .main-menu__container__search_confirm {
    display: none;
    left: 10px;
    width: 40px;
  }

  /* SEARCH END */

  .main-menu__container__right {
    display: flex;
  }

  .main-menu__container__right a {
    align-items: center;
    display: flex;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .main-menu__container__center li a {
    padding: 20px 7px;
  }
}

@media (min-width: 993px) and (max-width:1050px) {
  .main-menu__container__logo {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {
  header .header-login-phone {
    display: block;
  }
  
  header .header-login {
    position: absolute;
    right: 55px;
    top: 7px;
  }
 
  header.header-black .main-menu__submenu-content__panel:hover {
    border: 0;
  }
  
  header.header-black .main-menu__submenu-content__panel + .main-menu__submenu-content__panel {
    border: 0;
  }
  
  .header-info .header-login {
    display: none;
  }
  
  div.header-info {
    background-color: transparent;
    border-bottom: 1px solid #222B34;
    border-top: 1px solid #222B34;
    margin: 0;
    margin-top: 20px;
    order: 2;
  }
  
  .header-info .corporate-link {
    padding: 15px;
  }
  
  header.header-black a.corporate-link span:first-child {
    font-size: 14px;
  }
  
  /* fix for drift */
  html.open__main-menu__overflow-hidden div#drift-widget-container {
    opacity: 0;
    transition: none;
    z-index: 0!important;
  }

  header .mobile__content__card__panel__link.active::after {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    content: '';
    height: 4px;
    margin-left: 8px;
    opacity: 0.65;
    opacity: 1;
    transform: none;
    width: 4px;
  }
  
  header.header-black .main-menu__container__section {
    display: inline-block;
    font-size: 12px;
    left: 28px;
    position: absolute;
    top: 38px;
  }

  input:focus {
    font-size: 0.9em;
  }

  html.open__main-menu__overflow-hidden {
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  html.open__main-menu__overflow-hidden body {
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  .main-menu__container {
    box-shadow: none;
  }

  .main-menu__container.main-menu__fade {
    transform: translate3d(0, -60px, 0);
  }

  .main-menu__container--transparent .main-menu__container__container-os {
    padding: 0;
  }

  .main-menu__container .os-button.primary {
    font-size: 0.8em;
  }

  .main-menu__container.open__main-menu {
    background-color: transparent;
    height: 100vh;
    overflow: auto;
    overflow-y: scroll;  /* fix for ipad */
  }

  .main-menu__container.open__main-menu::after {
    content: '';
    height: 40px;
  }

  .main-menu__container .main-menu__container__container-os {
    box-shadow: 0 -1px 0 #222B34;
    flex-flow: column;
    padding: 0;
  }

  .main-menu__container__only-logo .main-menu__container__container-os {
    box-shadow: none;
  }

  .main-menu__container__nav-content {
    flex-flow: column;
    height: 0;
    overflow: hidden;
  }

  .open__main-menu .main-menu__container__nav-content {
    box-shadow: 0 -1px 0 #222B34;
  }

  .main-menu__container.open__main-menu .main-menu__container__search_input_container .main-menu__container__search_cancel {
    display: none;
  }

  .main-menu__container__logo {
    display: flex;
    height: 62px;
    margin-right: 0;
    max-width: 160px;
    padding: 0 15px;
  }

  .main-menu__item[aria-haspopup="true"]:after {
    bottom: 20px;
    left: auto;
    right: 30px;
  }

  .main-menu__container .main_menu__list {
    flex-flow: column;
    width: 100%;
  }

  .main_menu__list > li {
    /* border-bottom: 1px solid #eee; */
    border-bottom: none;
    display: block;
    width: 100%;
  }

  .main-menu__container__search_confirm {
    display: block;
  }

  .main-menu__submenu-content {
    box-shadow: none;
    left: 0;
    padding: 0;
    top: 0;
    transform: none;
    width: 100%;
  }

  .main-menu__item[aria-expanded="true"] ~ .main-menu__submenu-content {
    display: block;
  }

  .main-menu__submenu-content__panel {
    display: block;
  }

  .main-menu__submenu-content__panel + .main-menu__submenu-content__panel {
    margin-left: 0;
  }

  .main-menu__container__right {
    align-items: center;
    background-color: #F5F6FA;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: calc(env(safe-area-inset-bottom, 15px) + 15px);
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .main-menu__container__btn {
    flex-grow: 1;
  }

  .main-menu__container__center li {
    height: auto;
    margin-bottom: 10px;
  }

  .mobile__menu__container {
    background-color: #0A141E;
    display: flex;
    height: 0;
    position: relative;
    width: 100%;
  }

  .main-menu__container.open__main-menu .main-menu__overlay {
    display: none;
    position: relative;
  }

  .mobile__menu__container__center {
    order: 1;
    overflow: auto;
  }

  .mobile__menu__item,
  .mobile__menu__item:link,
  .mobile__menu__item:link:hover,
  a.mobile__menu__item:visited {
    color: #39414A;
    display: inline-block;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    padding: 10px 30px 10px 15px;
    position: relative;
  }

  .mobile__menu__item[aria-haspopup="true"]::after {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    bottom: 28%;
    content: '';
    height: 11px;
    left: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: rotate(135deg) translateY(50%);
    width: 11px;
  }

  .main-menu__container.open__main-menu {
    height: auto;
  }

  .mobile__menu__container__bottom .NavigationLink a.btn-link {
    color: #39414A;
    font-size: 1em;
  }

  .mobile__content__card {
    background-color: #0a141e;
    height: calc(100vh - 215px);
    overflow: auto;
    padding-bottom: 30px;
    position: absolute;
    top: 80px;
    transform: translateX(100%);
    transition: 400ms ease all;
    width: 100%;
    z-index: 1;
  }

  header .mobile__content__card {
    background-color: #fff;
    top: 84px;
  }

  .mobile__content__card.show {
    transform: translate3d(0, 0, 0);
  }

  .mobile__content__card__panel__link {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 0.9em;
    outline: none;
    padding: 10px 15px;
  }

  a.mobile__content__card__panel__link,
  a.mobile__content__card__panel__link:link,
  a.mobile__content__card__panel__link:link:hover {
    color: #fff;
  }
  
  header a.mobile__content__card__panel__link,
  header a.mobile__content__card__panel__link:link,
  header a.mobile__content__card__panel__link:link:hover,
  header a.mobile__content__card__panel__link:visited {
    color: #fff;
  }

  .content__card__panel__link__icon {
    margin-right: 15px;
    width: 16px;
  }

  .mobile__content__card__list__title {
    align-items: center;
    color: #afb2b8;
    display: flex;
    font-size: 0.9em;
    margin: 15px;
    text-transform: uppercase;
  }

  header .mobile__content__card__list__title {
    color: #979CA2;
  }

  .mobile__content__card__panel__list {
    margin-bottom: 2em;
  }

  .mobile__content__card__panel__list .mobile__content__card__panel__link {
    padding-left: 47px;
  }

  /* MENU BURGUER START */

  .main-menu__container .menu-burger {
    align-items: center;
    background-color: transparent;
    border: 1px solid transparent;
    color: #fff;
    display: flex;
    font-size: 0.7em;
    font-weight: 700;
    height: 62px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    width: 50px;
  }
  
  .main-menu__container .menu-burger:focus {
    outline: 0;
  }

  .main-menu__container .menu-burger .nav-icon1 {
    cursor: pointer;
    height: 14px;
    margin-left: 11px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    width: 21px;
  }

  .main-menu__container .menu-burger .nav-icon1 span {
    background: #fff;
    display: block;
    height: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    width: 12px;
  }

  .main-menu__container .menu-burger .nav-icon1 span:nth-child(1) {
    top: 2px;
  }

  .main-menu__container .menu-burger .nav-icon1 span:nth-child(2) {
    top: 6px;
  }

  .main-menu__container .menu-burger .nav-icon1 span:nth-child(3) {
    top: 10px;
  }

  .main-menu__container.open__main-menu .menu-burger .nav-icon1 span:nth-child(1) {
    top: 6px;
    transform: rotate(135deg);
  }

  .main-menu__container.open__main-menu .menu-burger .nav-icon1 span:nth-child(2) {
    opacity: 0;
  }

  .main-menu__container.open__main-menu .menu-burger .nav-icon1 span:nth-child(3) {
    top: 6px;
    transform: rotate(-135deg);
  }

  /* MENU BURGUER END */

  /* SEARCH START */

  .main-menu__container__search {
    align-items: center;
    display: flex;
    font-size: 1em;
    margin: 20px 0;
    order: -1;
    position: relative;
    right: 0;
    top: 0;
  }

  .main-menu__container__search button {
    width: 40px;
  }

  .main-menu__container__search i,
  header.header-black .main-menu__container__search i {
    color: #979CA2;
  }

  .main-menu__container__search button:hover {
    cursor: pointer;
  }

  .main-menu__container__search_open {
    background-color: transparent;
    border: none;
    display: none;
    font-size: 1em;
    line-height: 1.556;
    padding: 0;
    position: absolute;
    right: 20px;
    transition: all 0.2s ease;
    visibility: visible;
  }

  .main-menu__container__search_open[aria-expanded="true"] {
    visibility: hidden;
  }

  .main-menu__container__search_input_container {
    padding: 0 15px;
    width: 100%;
  }

  .main-menu__container__search_open[aria-expanded="true"] ~ .main-menu__container__search_input_container {
    opacity: 1;
    transition: all 0.5s ease;
    visibility: visible;
  }

  .main-menu__container__search_input_container button {
    background-color: transparent;
    border: none;
    height: 100%;
    margin-left: 3px;
    padding: 0;
    position: absolute;
    top: 0;
  }

  .main-menu__container__search_input_container input,
  .main-menu__container__search_input_container input[type=search],
  .phone .main-menu__container__search_input_container input[type=search] {
    background-color: #222b34;
    border: 1px solid #39414a;
    border-radius: 6px !important; /* override the input[type=search] */
    color: #f5f6fa;
    font-size: 0.9em;
    height: 100%;
    line-height: 1.375;
    margin: 0;
    outline: none;
    padding: 10px 10px 10px 45px!important;
    width: 100%;
    -webkit-appearance: none;
  }

  header .main-menu__container__search_input_container input,
  header .main-menu__container__search_input_container input[type=search],
  .phone header .main-menu__container__search_input_container input[type=search] {
    background-color: #222B34;
    border-color: #222B34;
    color: #fff;
  }

  .main-menu__container__search_input_container input::placeholder {
    color: #f5f6fa;
  }

  header .main-menu__container__search_input_container input::placeholder{
    color: #686E76;
  }

  /* clears the 'X' from Internet Explorer */
  .main-menu__container__search_input_container input[type=search]::-ms-clear {
    display: none;
    height: 0;
    width: 0;
  }

  .main-menu__container__search_input_container input[type=search]::-ms-reveal {
    display: none;
    height: 0;
    width: 0;
  }

  /* clears the 'X' from Chrome */
  .main-menu__container__search_input_container input[type="search"]::-webkit-search-decoration,
  .main-menu__container__search_input_container input[type="search"]::-webkit-search-cancel-button,
  .main-menu__container__search_input_container input[type="search"]::-webkit-search-results-button,
  .main-menu__container__search_input_container input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  .main-menu__container__search_input_container input::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .main-menu__container__search_cancel,
  .main-menu__container__search_confirm {
    font-size: 1em;
    line-height: 1.556;
  }

  .main-menu__container__search_cancel {
    display: none;
  }

  .mobile__content__card__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .mobile__content__card__header__title {
    color: #afb2b8;
    font-size: 1.3em;
    margin-bottom: 0;
  }

  header .mobile__content__card__header__title {
    color: #AFB2B8;
    font-weight: 400;
  }

  .mobile__content__card__header__go-back {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    font-size: 1em;
    position: relative;
  }

  header .mobile__content__card__header__go-back {
    color: #fff;
  }

  .mobile__content__card__header__go-back::before {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    content: '';
    height: 11px;
    left: -15px;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 11px;
  }

  header .mobile__content__card__header__go-back::before {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
  }

  /* SEARCH END */

  .main-menu__container a.os-button.primary {
    font-size: 0.8em;
  }

  .main-menu__container__community i {
    font-size: 0.7em;
    padding-left: 8px;
  }
}

@media (min-width: 992px) {
  .main-menu__container a:hover,
  .main-menu__container a:active {
    outline: 0;
  }

  .menu-burger {
    display: none;
  }

  .main-menu__container__right {
    align-items: center;
  }

  .main-menu__container__right .NavigationLink {
    padding: 0 20px;
  }

  .main-menu__blog.experience-editor .main-menu__container__right {
    align-items: center;
  }

  .main-menu__blog.experience-editor .main-menu__container__btn a {
    width: 100%;
  }

  .main-menu__container .NavigationLink:last-child {
    padding-right: 0;
  }

  .mobile__content__card__header {
    display: none;
  }

  .main-menu__item[aria-expanded="true"]~.main-menu__submenu-content {
    max-width: 1130px;
    top: 62px;
    width: 100vw;
  }

  .main-menu__submenu-content {
    background-color: #fff;
    padding: 0;
    transition: 300ms ease all;
  }

  .main-menu__submenu-content__panel ul {
    align-items: stretch;
    display: flex;
    width: 100%;
  }

  .main-menu__submenu-content__panel li a {
    align-items: center;
    color: #515860;
    display: flex;
    height: 100%;
    justify-content: center;
    min-height: 120px;
    transition: 150ms ease all;
  }

  .main-menu__submenu-content__panel .content__card__panel__link__icon {
    display: inline-block;
    margin-right: 10px;
    width: 16px;
  }

  .main-menu__submenu-content .content__card__panel__link__text {
    white-space: pre-wrap;
  }

  .main-menu__submenu-content__panel li:hover {
    background-color: transparent;
  }

  .main-menu__container__center .main-menu__submenu-content li a:hover {
    background-color: transparent;
    color: #39414a;
  }

  .main-menu__submenu-content__panel + .main-menu__submenu-content__panel {
    border-left: 1px solid #f5f6fa;
    margin-left: 0;
  }

  a.main-menu__item:link {
    color: inherit;
  }

  a.main-menu__item:link:hover {
    color: inherit;
  }

  a.main-menu__item:link[aria-expanded="true"] {
    color: #F22800;
  }

  .main-menu__item[aria-expanded="true"]:hover::after {
    background-color: #0a141e;
  }

  .main-menu__item.active::after {
    opacity: 1;
  }

  .main_menu__list:hover li {
    color: #979ca2;
  }

  .main_menu__list li:hover {
    color: #0a141e;
  }

  .main_menu__list li:hover .main-menu__item.active:after {
    background-color: #fff;
  }

  .main-menu__container .NavigationLink a.main-menu__container__community {
    align-items: center;
    color: #686e76;
    display: flex;
    padding: 18px 0 22px;
  }

  .main-menu__container__community i {
    font-size: 12px;
    padding-left: 8px;
  }

  .main-menu__submenu-content__list {
    justify-content: center;
  }

  .main-menu__submenu-content__list__panel {
    min-width: 500px;
    padding: 30px 80px;
  }
  
  .main-menu__submenu-row.row-fullwidth .main-menu__submenu-content__list__panel {
    min-width: auto;
    padding: 30px;
  }
  
  .main-menu__submenu-row.row-fullwidth .main-menu__submenu-content__title {
      min-width: auto;
  }

  .main-menu__submenu-content__list__panel + .main-menu__submenu-content__list__panel {
    border-left: 1px solid #19222B;
  }

  .main-menu__submenu-content__list__panel li {
    padding: 5px 38px;
  }

  .main-menu__submenu-content__list__panel li a,
  .main-menu__submenu-content__list__panel li a:visited {
    color: #fff;
    display: inline-block;
    line-height: 1.6;
    padding: 0;
    transition: 150ms ease all;
  }

  .main_menu__list .main-menu__submenu-content__list__panel li a:hover {
    box-shadow: 0 3px 0 -1px #fff;
    color: #fff;
  }

  .main_menu__list .main-menu__submenu-content__list__panel li a.active {
    box-shadow: 0 3px 0 -1px #F22800;
  }

  .main-menu__submenu-content__list__panel__icon {
    margin-right: 20px;
    width: 16px;
  }

  .main-menu__submenu-row {
    display: flex;
    justify-content: center;
  }

  .main-menu__submenu-content__panel:hover {
    border-bottom: 2px solid #0a141e;
  }

  .main-menu__submenu-content__panel.active {
    border-bottom: 2px solid #f22800;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .mobile__content__card__header__go-back::before {
    top: 10px;
  }
}


/* CSS to adjust Header in MindTouch */
.columbia-breadcrumb-home-enablement-partnerguide header ul {
    padding: 0!important /* importanto to overlap old css */
}

.main-menu__container__center li {
    margin: 0;
}
