html {
    font-size: 14px;
}

body.ult * {
    font-family: 'NotoSans', sans-serif;
}

h2.ult {
    font-size: 2.2em;
}

.home-header-ult {
    margin-top: 0;
    background-color: #F5F6FA;
}

.width-container-ult {
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.width-container-ult > div {
    max-width: 50%;
}