.body-ult * {
    font-family: 'NotoSans', sans-serif;
    color: #39414a;
}

h2.ult {
    font-size: 2.2em;
}

.home-header-ult {
    margin-top: 0;
    background-color: #f5f6fa;
}

.width-container-ult {
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2.2rem;
    padding-bottom: 4.5rem;
}

.input-ult::placeholder {
    color: #39414a;
}

.width-container-ult > div {
    max-width: 50%;
}

.vertical-bar {
    height: 1.4rem;
    position: absolute;
    border: 1px solid #39414a;
    top: 23%;
    left: 2rem;
}

/* MARGINS */
.mt-1 {
    margin-top: 1rem;
}

.input-wrapper-ult {
    position: relative
}