@font-face {
    font-family: "";
    src: url("https://yoursite.com/css/fonts/CustomFont.eot");
}

html {
    font-size: 14px;
}

body.ult * {
    font-family: 'NotoSans', sans-serif;
}

h2.ult {
    font-size: 2.2em;
}

.home-header-ult {
    background-color: #F5F6FA !important;
}

.width-container-ult {
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.width-container-ult > div {
    max-width: 50%;
}