.body-ult * {
    font-family: 'NotoSans', sans-serif;
    /*color: #39414a;*/
}

h2.ult {
    font-size: 2.2em;
}

.home-header-ult {
    margin-top: 0;
    background-color: #f5f6fa;
}

.width-container-ult {
    position: relative;
    display:flex;
    flex-direction: column;
    padding-top: 2.2rem;
    padding-bottom: 4.5rem;
    max-width: 1110px;
    margin: auto;
}

.input-ult::placeholder {
    color: #39414a;
}

/*
.width-container-ult > div {
    max-width: 50%;
}
*/

.vertical-bar {
    height: 1.4rem;
    position: absolute;
    border: 1px solid #b9b9b9;
    top: 23%;
    left: 2.1rem;
}

.input-wrapper-ult {
    position: relative
}

.background-ult {
    background-color: unset !important;
}

.align-lang-right {
    justify-content: flex-end;
    display: flex;
}

.center-search {
    max-width: 50%;
    margin: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* MARGINS */
.mt-1 {
    margin-top: 1rem;
}

/* CARD */
.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 3rem;
    padding-bottom: 5.5rem;
}

.small-card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 3rem;
}

.card-header {
    background: #DB2400;
    border-radius: 6px 6px 0px 0px;
    padding: 2rem;
    color: #FFFFFF;
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
}

.card-body {
    color: #80858C;
    position: relative;
}

.card-img {
    min-width: 4rem;
}

.card-block {
    display: flex;
    padding: 2.7rem 3rem;
}

.card-body-title {
    font-family: Cabin;
    font-weight: bold;
    font-size: 1.3rem;
    color: #39414a;
    margin-bottom: 0.7rem;
}

.card-title {
    font-family: Cabin;
    font-weight: bold;
    font-size: 2.15rem;
    color: #39414a;
    margin-bottom: 0.7rem;
}

.card-body-text {
    color: #80858c;
}

.card-horizontal-bar {
    margin: 0rem 3rem;
    height: 1px;
    background: #80858c;
}
/* BUTTON */
.see-more-btn {
    background-color: #f22800;
    border: 2px solid #f22800;
    border-radius: 0.333rem;
    color: #fff !important;
    font-family: Cabin;
    font-size: 1rem;
    padding: 0.7rem 1.1rem;
    right: 3.6rem;
    position: absolute;
}
/* HOMEPAGE */
.cards-list-ult>div {
    flex: 0 50%;
}

.homepage-container-ult {
    display: flex;
    flex-direction:column;
    position: relative;
}

.cards-list-ult {
    display: flex;
    flex-direction: column;
}

.column-list-ult {
    display: flex;
    flex-direction: column;
    /*margin: 0rem 2rem;*/
}

.card-mr-2 {
    margin-right: 0rem;
}

.card-ml-2 {
    margin-left: 0rem;
}
@media all and (min-width: 50em) {
    .cards-list-ult {
        flex-direction: row;
    }

    .card-mr-2 {
        margin-right: 2rem;
    }
    
    .card-ml-2 {
        margin-left: 2rem;
    }
}

/*
@media all and (min-width: 18.75em) {}
@media all and (min-width: 25em) {}
@media all and (min-width: 37.5em) {}
@media all and (min-width: 50em) {}
@media all and (min-width: 65.25em) {}
@media all and (min-width: 80em) {}
*/

/* Content Page*/

.sidebar-ult {
    display: none;
}

/* TODO In mobile set to bottom of the page */

.elm-article-feedback-ult {
    display: none;
    display: block;
    top: 0;
    margin-top: 0px;
}

.elm-main-content-ult {
    max-width: 100%;
}

.elm-content-footer-ult::before{
    height: 0!important;
}

.elm-content-footer-ult {
    display: inline-block !important;
    border-top: unset !important;
    margin-top: 0px;
    padding: 0px;
}

.mt-feedback-rating-container-ult {
    display: block;
}

.wiki-tree * {
    font-size: 14px !important;
    font-family: Noto Sans;
}

.search-bar-ult {
    width: 90%;
    padding-left: 4%;
    position: absolute;
    top: 150px;
}

.jstree-icon .jstree-ocl {
    display: none;
}

li.jstree-node > i {
    right: 0;
    font-style: normal;
}

li[aria-expanded=true]>a.jstree-anchor {
    background: #E8F1F9;
    color: #38BDFF;
}


.jstree-default .jstree-anchor {
    color: #80858C;
    font-weight: 400;
    padding: 8px;
}

.jstree-anchor {
    width: 100%;
}

.jstree-default .jstree-anchor.jstree-clicked {
    color: #38BDFF;
}

.jstree-default .jstree-hovered {
    border-bottom: 1px solid white;
}

.jstree-node a:hover {
    color: #80858C;
}


.jstree-default .jstree-closed>.jstree-ocl:before {
    content: '+';
    font-weight: 400;
    color: #80858C;
    position: absolute;
    top: -4px;
}

.jstree-default .jstree-open>.jstree-ocl:before {
    content: '-';
    font-weight: 400;
    color: #80858C;
    position: absolute;
    top: -4px;
}

/*
.jstree-open > i {
    margin-right: 2px !important;
    border: solid #80858c;
    border-width: 0 2px 2px 0;
    padding: 5px !important;
    transform: rotate(-135deg);
}

.jstree-closed > i {
    margin-right: 2px !important;
    border: solid #80858c;
    border-width: 0 2px 2px 0;
    padding: 5px !important;
    transform: rotate(45deg);
}

.jstree-default .jstree-closed >.jstree-ocl:before {
    content: '';
}

.jstree-default .jstree-open >.jstree-ocl:before {
    content: '';
}

.jstree-default .jstree-icon, .jstree-default .jstree-icon:empty {
    width: 0px;
    height: 0px;
}
*/

ol.elm-meta-article-navigation {
    display: none !important;
}

code {
    width: 95%;
}

.mt-toc-container-ult {
    display: block !important;
    padding: 0px !important;
    background-color: #fff !important;
    border: 0px !important;
    margin: 45px 0px 15px 0px !important;
    position: absolute;
    /* right: -184px; */
    max-width: 220px;
}

.mt-toc-container-ult button {
    color: #0077B2 !important;
    font-family: 'NotoSans', sans-serif !important;
    padding-bottom: 10px;
}

.mt-toc-container-ult ol a {
    color: #0077B2 !important;
    padding-left: 10px;
    font-size: 12px;
}

/* TODO Table of contents */
/* .mt-toc-container-ult ol {
    border-left: 1px solid #c3c3c3;
} */

.mt-toc-container-ult li:before {
    content: unset !important;
}

@media all and (min-width: 50em) {
    code {
        width: 100%;
    }

    .mt-toc-container-ult {
        right: -34%;
    }

    .sidebar-ult {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        padding-left: 10%;
        width: 20%;
    }

    .elm-main-content-ult {
        max-width: 80%;
        padding-left: 24%;
        margin: 0px;
    }

    .elm-article-feedback-ult {
        right: -380px;
        width: 200px;
    }

    .search-bar-ult > .form-field {
        padding-left: 50px;
    }

    .search-bar-ult {
        width: 60%;
        padding-left: 24%;
        position: absolute;
        top: 238px;
    }

    .elm-content-footer-ult {
        position: absolute !important;
        margin-top: 140px !important;
        top: 0;
        right: -190px;
    }

    .mt-toc-container-ult button, .mt-toc-container-ult ol a {
        color: #80858c !important;
    }

    .mt-toc-container-ult ol {
        padding-left: 14px;
        list-style-type: decimal;
    }
}
