.body-ult * {
    font-family: 'NotoSans', sans-serif;
    /*color: #39414a;*/
}

h2.ult {
    font-size: 2.2em;
}

.home-header-ult {
    margin-top: 0;
    background-color: #f5f6fa;
}

.width-container-ult {
    position: relative;
    display:flex;
    flex-direction: column;
    padding-top: 2.2rem;
    padding-bottom: 4.5rem;
    max-width: 1110px;
    margin: auto;
}

.input-ult::placeholder {
    color: #39414a;
}

/*
.width-container-ult > div {
    max-width: 50%;
}
*/

.vertical-bar {
    height: 1.4rem;
    position: absolute;
    border: 1px solid #b9b9b9;
    top: 23%;
    left: 2.1rem;
}

.input-wrapper-ult {
    position: relative
}

.background-ult {
    background-color: unset !important;
}

.align-lang-right {
    justify-content: flex-end;
    display: flex;
}

.center-search {
    max-width: 50%;
    margin: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* MARGINS */
.mt-1 {
    margin-top: 1rem;
}

/* CARD */
.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 3rem;
    padding-bottom: 5.5rem;
}

.small-card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 3rem;
}

.card-header {
    background: #DB2400;
    border-radius: 6px 6px 0px 0px;
    padding: 2rem;
    color: #FFFFFF;
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
}

.card-body {
    color: #80858C;
    position: relative;
}

.card-img {
    min-width: 4rem;
}

.card-block {
    display: flex;
    padding: 2.7rem 3rem;
}

.card-body-title {
    font-family: Cabin;
    font-weight: bold;
    font-size: 1.3rem;
    color: #39414a;
    margin-bottom: 0.7rem;
}

.card-title {
    font-family: Cabin;
    font-weight: bold;
    font-size: 2.15rem;
    color: #39414a;
    margin-bottom: 0.7rem;
}

.card-body-text {
    color: #80858c;
}

.card-horizontal-bar {
    margin: 0rem 3rem;
    height: 1px;
    background: #80858c;
}
/* BUTTON */
.see-more-btn {
    background-color: #f22800;
    border: 2px solid #f22800;
    border-radius: 0.333rem;
    color: #fff !important;
    font-family: Cabin;
    font-size: 1rem;
    padding: 0.7rem 1.1rem;
    right: 3.6rem;
    position: absolute;
}
/* HOMEPAGE */
.cards-list-ult>div {
    flex: 0 50%;
}

.homepage-container-ult {
    display: flex;
    flex-direction:column;
    position: relative;
}

.cards-list-ult {
    display: flex;
    flex-direction: column;
}

.column-list-ult {
    display: flex;
    flex-direction: column;
    /*margin: 0rem 2rem;*/
}

.card-mr-2 {
    margin-right: 0rem;
}

.card-ml-2 {
    margin-left: 0rem;
}
@media all and (min-width: 50em) {
    .cards-list-ult {
        flex-direction: row;
    }

    .card-mr-2 {
        margin-right: 2rem;
    }
    
    .card-ml-2 {
        margin-left: 2rem;
    }
}

/*
@media all and (min-width: 18.75em) {}
@media all and (min-width: 25em) {}
@media all and (min-width: 37.5em) {}
@media all and (min-width: 50em) {}
@media all and (min-width: 65.25em) {}
@media all and (min-width: 80em) {}
*/

/* Content Page*/

.sidebar-ult {
    display: none;
}

/* TODO In mobile set to bottom of the page */
.elm-article-feedback-ult {
    display: none;
}

.elm-main-content-ult {
    max-width: 100%;
}


@media all and (min-width: 50em) {
    .sidebar-ult {
        display: unset;
        position: absolute;
        left: 0;
        max-width: 250px;
        top: 0;
        bottom: 0;
        overflow: auto;
    }

    .elm-article-feedback-ult {
        display: unset;
        position: absolute;
        right: -380px;
        width: 200px;
    }

    .elm-main-content-ult {
        max-width: 60em;
        padding-left: 350px;
        margin: 0px;
    }
}
