.body-ult * {
    font-family: 'NotoSans', sans-serif;
    color: #39414a;
}

h2.ult {
    font-size: 2.2em;
}

.home-header-ult {
    margin-top: 0;
    background-color: #f5f6fa;
}

.width-container-ult {
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2.2rem;
    padding-bottom: 4.5rem;
}

.input-ult::placeholder {
    color: #39414a;
}

.width-container-ult > div {
    max-width: 50%;
}

.vertical-bar {
    height: 1.4rem;
    position: absolute;
    border: 1px solid #39414a;
    top: 23%;
    left: 2rem;
}

.input-wrapper-ult {
    position: relative
}

.background-ult {
    background-color: unset !important;
}

/* MARGINS */
.mt-1 {
    margin-top: 1rem;
}

.mr-4 {
    margin-right: 4rem;
}

/* CARD */
.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.card-header {
    background: #F22800;
    border-radius: 6px 6px 0px 0px;
    padding: 2rem;
    color: #FFFFFF;
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
}

.card-body {
    color: #80858C;
}

/* HOMEPAGE */
.cards-list-ult>div {
    flex: 0 50%;
}

.homepage-container-ult {
    display: flex;
    flex-direction:column;
    position: relative;
}

.cards-list-ult {
    display: flex;
    flex-direction:row;
}

.column-list-ult {
    display: flex;
    flex-direction: column;
}

.os-card-10-ult {
    width: 50%;
    position:absolute;
    bottom: 0px;
}
  
@media screen and (max-width: 700px) {
    .cards-list-ult {   
        flex-direction: column;
    }

    .os-card-10-ult {
        width: unset;
        position: unset;
        top: unset;
    }
}